<!DOCTYPE html>
<html>
<head>
    <title>Project Unassignment</title>
</head>
<body>
    <h1>Hello, <%= fname %> <%= lname %>!</h1>
    <p>You have been unassigned from the project: <%= projectName %>.</p>
</body>
</html>
