<!DOCTYPE html>
<html>
<head>
    <title>Project Completed</title>
</head>
<body>
    <h1>Hello, <%= fname %> <%= lname %>!</h1>
    <p>The project: <%= projectName %> has been marked as completed.</p>
</body>
</html>
